*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    font-family: sans-serif;
}
.first{
    width: 100%;
    height: 50vh;
}
.second{
    background-color: #9980FA;
    width: 50%;
    height: 50vh;
}
.third{
    background-color: #5758BB;
    width: 50%;
    height: 50vh;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
h1{
    color: rgb(27, 95, 163) ;
    text-shadow: rgb(89, 86, 240) 3px 0px 7px;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 3rem;
}
h3{
    color: #fa8231;
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 1.5rem;
}
h4{
    color: brown;
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 1.2rem;
    line-height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.monthlysubs{
    font-family: 'Teko', sans-serif;
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 1.8rem;
}
.dolar{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fa8231;
    text-shadow: rgb(252, 252, 253) 3px 0px 7px;
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 2.8rem;  
}
.permonth{
    position: relative;
    top: 20px;
    left: 130px;
    font-size: 1.4rem;
}
.full{
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 1.2rem;
}
.signin{
    color: whitesmoke;
    background-color:  rgb(27, 95, 163) ;
    position: relative;
    top: 90px;
    left: 80px;
    padding: 10px 120px;
    border: rgb(242, 242, 247) 2px inset;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

ul{
    color: whitesmoke;
    position: relative;
    top: 30px;
    left: 50px;
    line-height: 30px;
    list-style-type: none;
    width: 90%;
    font-size: 1.2rem;
}
.whyus{
    font-family: 'Teko', sans-serif;
    font-size: 1.8rem;
    position: relative;
    top: 20px;
    left: 50px;
    width: 90%;
}
li{
    text-transform:lowercase;
    font-family: 'Comfortaa', cursive
}

/* Mobile Responseive */
@media screen and (max-width : 700px){
    .first{
        /* background-color: crimson; */
        width: 100%;
        height: 30vh;
    }
    .second{
        background-color: #9980FA;
        width: 100%;
        height: 35vh;
    }
    .third{
        background-color: #5758BB;
        width: 100%;
        height: 35vh;
     
    }
   h1{ width: 100%;
       height: 5vh;
       text-align: center;
       font-size: 30px;
       position: absolute;
       top: 4%;
       left: 0px;
   }
   h3{
    color: #fa8231;
    position: absolute;
    top: 12%;
    left: 0px;
    font-size: 1.0rem;
    width: 100%;
    text-align: center;
}
h4{
    color: brown;
    position: absolute;
    top: 18%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
    line-height: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.monthlysubs{
    position: relative;
    top: 20px;
    left: 10%;
    font-size: 1.4rem;
}
.dolar{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fa8231;
    text-shadow: rgb(252, 252, 253) 3px 0px 7px;
    position: relative;
    top: 30px;
    left: 10%;
    font-size: 2.5rem;  
}
.permonth{
    position: relative;
    top: 5px;
    left: 30%;
    font-size: 1.0rem;
}
.full{
    position: relative;
    top: 30px;
    left: 10%;
    font-size: 1.1rem;
}
.signin{
    color: whitesmoke;
    background-color:  rgb(27, 95, 163) ;
    position: relative;
    top: 20%;
    left: 12%;
    padding: 10px 100px;
    border: rgb(242, 242, 247) 2px inset;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

ul{
    /* background-color: coral; */
    position: relative;
    top: 30px;
    left: 10%;
    line-height: 25px;
    list-style-type: none;
    font-size: 1.1rem;
    width: 100%;
}
.whyus{
    font-size: 1.5rem;
    position: relative;
    top: 20px;
    left: 10%;
    width: 50%;
}
li{
    text-transform:lowercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 
   

   
}